<a href="https://colab.research.google.com/github/ciel9/Python/blob/main/ForLoop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
mylist = [1,2,3,4,5,6,7,8,9,10,20,30,40,50,100]
for number in mylist:
  print(number)

1
2
3
4
5
6
7
8
9
10
20
30
40
50
100

In [15]:
mylist = [1,2,3,4,5,6,7,8,9,10,20,30,40,50,100]
for num in mylist :
  if num % 2 == 0:
    print(num)
  else:
    print(f'Odd Number : {num}')

Odd Number : 1
2
Odd Number : 3
4
Odd Number : 5
6
Odd Number : 7
8
Odd Number : 9
10
20
30
40
50
100

In [19]:
sum = 0
for num in mylist:
  sum = sum + num
  print(sum)

1
3
6
10
15
21
28
36
45
55
75
105
145
195
295

In [21]:
a = 'Taehyung'
for word in a:
  print(word)

T
a
e
h
y
u
n
g

In [22]:
tuple = (1,2,3)
for mytuple in tuple:
  print(mytuple)

1
2
3

In [23]:
z = [(1,2),(5,6),(10,20)]
for (a,b) in z:
  print(a)
  print(b)

1
2
5
6
10
20

In [29]:
y = [(1,2,3),(3,10,2),(13,15,17)]
for a,b,c in y:
  print(a)

1
3
13

In [34]:
v = {'k1': "hi", 'k2':"haloha", 'k3':"annyeong"}
for value in v.values():
  print(value)

hi
haloha
annyeong

In [35]:
#jika genap akan mencetak angka 'num' adalah genap, jika ganjil akan mencetak angka 'num' adalah ganjil.

list = [1,2,3,4,5]
for num in list :
  if num % 2 ==0:
    print (f'Angka {num} adalah genap')
  else :
    print(f'Angka {num} adalah ganjil')

Angka 1 adalah ganjil
Angka 2 adalah genap
Angka 3 adalah ganjil
Angka 4 adalah genap
Angka 5 adalah ganjil

Menampilkan menu makanan yang berisi ayam goreng, es teh manis, nasi putih, air mineral dan ikan bakar. Anggap user ingin membeli air mineral dan ikan bakar. Dimana angka urutan yang dipilih user merupakan bilangan kelipatan 2, Tuliskan di output jika angka kelipatan 2 terpilih user.

In [58]:
print('======== MENU ===========')
print( '1. Ayam Goreng')
print( '2. Ikan Bakar')
print('3. Udang Goreng')
print('4. Nasi Putih')
print('5. Es Teh Manis')
print('6. Air Mineral\n')
print('Hasil : \n')
list = [1,2,3,4,5,6,7]
for num in list :
  if num % 2 ==0:
    print (f'User pilih menu urutan: {num}')
  else :
    print(f'User hanya melihat urutan menu :  {num}')

======== MENU ===========
1. Ayam Goreng
2. Ikan Bakar
3. Udang Goreng
4. Nasi Putih
5. Es Teh Manis
6. Air Mineral

Hasil :

User hanya melihat urutan menu :  1
User pilih menu urutan: 2
User hanya melihat urutan menu :  3
User pilih menu urutan: 4
User hanya melihat urutan menu :  5
User pilih menu urutan: 6
User hanya melihat urutan menu :  7