In [1]:
print('hello world')
print('hello \nworld')

hello world
hello
world

In [2]:
# len untuk memeriksa pnjang string

len('haloha')

6

In [1]:
mystring = "Hello World"

In [2]:
mystring

'Hello World'

In [3]:
mystring[7]

'o'

In [7]:
# index kebelakang menjadi minus. r = -3, l = -2, d = -1
mystring[-3]

'r'

In [8]:
# memanggil huruf urutan index ke - 3 sampai belakang

mystring = "Haloha abadakraba raraririruruaiueo"

In [9]:
mystring[30:]

'aiueo'

In [11]:
# memanggil huruf haloha

mystring[:6]

'Haloha'

In [12]:
# memanggil huruf loh

mystring[2:5]

'loh'

In [13]:
# memanggil semua karakter

mystring[::]

'Haloha abadakraba raraririruruaiueo'

In [14]:
# memanggil string kelipatan 3

mystring[::3]

'Ho akbraruae'

In [15]:
# memanggil string awalnya lompat 2 lalu lompat 4 terakhir lompat 5

mystring[2:4:5]

'l'

In [16]:
# memanggil string secara kebalik dari belakang ke depan

mystring[::-1]

'oeuiaururirirarar abarkadaba aholaH'

In [1]:
#melakukan penggantian string 'Jepang' menjadi 'Japan'
name = "Jepang"

In [2]:
name

'Jepang'

In [9]:
last_letters = name[2:5]
last_letters

'pan'

In [10]:
'J'+'a'+ last_letters

'Japan'

In [17]:
# melakukan penggabungan dgn 2 string

a = "haloha !"

In [26]:
# jika fungsi a = a + "..." di run lalu run fungsi pemanggilan variabel a, maka string " My name is Hella" akan tercetak
# setelah output sebelumnya.

a = a  + " My name is Hella"

In [27]:
a

'haloha ! My name is Hella My name is Hella My name is Hella My name is Hella'

In [28]:
# membuat huruf z sebanyak 20 

word = 'z'
word * 20

'zzzzzzzzzzzzzzzzzzzz'

In [29]:
# jika angka diberi tanda kutip dan di beri tanda (+), maka dia akan melakukan concat, namun berbeda jika angka tidak 
# diberi tanda kutip.

1 + 2 # dia akan melakukan kalkulasi

3

In [30]:
"1" + "2" # dia akan di concat

'12'

In [40]:
# membuat tulisan string menjadi kapital

a = "erika bau !"

In [41]:
a.upper()

'ERIKA BAU !'

In [42]:
a

'erika bau !'

In [43]:
# untuk membuat string menjadi huruf kecil
a.lower()

'erika bau !'

In [45]:
# untuk membagi string
a.split()

['erika', 'bau', '!']

In [46]:
#menghilangkan huruf a pada string 

a.split("a")

['erik', ' b', 'u !']

Formating with .format() method

In [47]:
print("Haloha, {}".format('Erika'))

Haloha, Erika

In [49]:
print("Hi, {3} {1} {2} {0}".format('Erika','Miceli','Milea', 'Queen'))

Hi, Queen Miceli Milea Erika

In [50]:
# mencetak string 'Queen' sebanyak 4 kali

print("Hi !, {3} {3} {3}".format('Erika','Miceli','Milea', 'Queen'))

Hi !, Queen Queen Queen

In [51]:
# mencetak menggunakan key

print("Hi !, {q} {e} {m} {l}".format(e = "erika", q = "queen", m = "miceli", l = "millea"))

Hi !, queen erika miceli millea

Float Formatting follows "{value: width.precision f }"

In [60]:
result = 1555079/3

In [61]:
result

518359.6666666667

In [62]:
print("You get Rp.{r} ".format(r = result))

You get Rp.518359.6666666667

In [63]:
# mengambil angka desimal sebanyak 3 digit dibelakang koma dan melakukan pembulatan angka

print("You get Rp. {r:1.3f}".format(r=result)) # {..:1 xx} angka 1 sbg presisi space jarak dr string ke hurufnya

# {..:.. .3f} .3f sbg desimal sbnyk 3 dibelakng koma

You get Rp. 518359.667

In [65]:
print("You get Rp. {r:20.2f}".format(r=result))

You get Rp.            518359.67

In [69]:
name = "Josa"

In [70]:
name

'Josa'

In [74]:
print(f'Hello, his name is {name}')

Hello, his name is Josa

In [77]:
age = 9
name = 'Kiena'

print(f'{name} is {age} years old.')

Kiena is 9 years old.

# Studi Kasus

buat sebuah bon pembayaran dari makanan dan minuman, dimana ayam goreng yg dia pesan seharga 20k dan minuman sebesar 5k dengan pajak sebesar 10%

In [94]:
print ('BON PEMBAYARAN')
print ('==============')
ayam = 20000
minum = 5000
pajak = 10
hasil = ayam + minum
result = (hasil*0.1) + hasil
print("Ayam Goreng {a:20.2f}".format(a=ayam))
print ("Es Teh Manis {m:19.2f}".format(m=minum))
print("\n")
print("Pajak {p:20} %".format(p=pajak))
print ("Total {r:26.2f}".format(r=result))

BON PEMBAYARAN
==============
Ayam Goreng             20000.00
Es Teh Manis             5000.00


Pajak                   10 %
Total                   27500.00