In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline

In [5]:
kredit = pd.read_csv('tmdb_5000_credits.csv', index_col = 'movie_id')
#baca database kredit

In [8]:
movies = pd.read_csv('tmdb_5000_movies.csv', index_col = 'id')

#merge yang sama

data = pd.merge(movies,kredit)
print(data.shape)

data = data.loc[data['revenue']!=0]
data['revenue'].dropna(inplace=True)
print(data.shape)

X_train,X_test,y_train,y_test = train_test_split(data.drop(['revenue'],axis = 1), data['revenue'])

exploratory = X_train.copy()
#kita gunakan kopian supaya dataset asli tidak berantakan

(4809, 21)
(3379, 21)

In [10]:
#Cek missing value
missing_percent = exploratory.isna().mean()*100
missing_count = exploratory.isna().sum()
pd.concat([missing_percent.round().rename('Persentase Missing'), missing_count.rename()], axis = 1)

                      Persentase Missing     0
budget                               0.0     0
genres                               0.0     0
homepage                            58.0  1481
keywords                             0.0     0
original_language                    0.0     0
original_title                       0.0     0
overview                             0.0     0
popularity                           0.0     0
production_companies                 0.0     0
production_countries                 0.0     0
release_date                         0.0     0
runtime                              0.0     0
spoken_languages                     0.0     0
status                               0.0     0
tagline                              8.0   211
title                                0.0     0
vote_average                         0.0     0
vote_count                           0.0     0
cast                                 0.0     0
crew                                 0.0     0

In [18]:
drop_kolom = ['original_title', 'overview', 'title', 'tagline']

exploratory = exploratory.drop(drop_kolom, axis = 1)

In [19]:
dtype_deskripsi = pd.Series(['ratio','nominal','nominal','nominal','nominal','ratio','nominal','nominal',\
                             'interval','ratio','nominal','nominal','ratio','ratio','nominal','nominal'],\
                           index=exploratory.dtypes.index)

pd.concat([exploratory.dtypes.rename('dtype'),exploratory.iloc[420].rename('example'),dtype_deskripsi.rename('description')],\
         axis=1)

,dtype,example,description
budget,int64,120000000,ratio
genres,object,"[{""id"": 28, ""name"": ""Action""}, {""id"": 10751, ""...",nominal
homepage,object,http://www.speedracerthemovie.warnerbros.com/,nominal
keywords,object,"[{""id"": 830, ""name"": ""car race""}, {""id"": 963, ...",nominal
original_language,object,en,nominal
popularity,float64,17.0607,ratio
production_companies,object,"[{""name"": ""Village Roadshow Pictures"", ""id"": 7...",nominal
production_countries,object,"[{""iso_3166_1"": ""AU"", ""name"": ""Australia""}, {""...",nominal
release_date,object,2008-05-09,interval
runtime,float64,135,ratio
spoken_languages,object,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",nominal
status,object,Released,nominal
vote_average,float64,5.7,ratio
vote_count,int64,354,ratio
cast,object,"[{""cast_id"": 1, ""character"": ""Speed Racer"", ""c...",nominal
crew,object,"[{""credit_id"": ""52fe447fc3a36847f8099949"", ""de...",nominal

In [20]:
#lihat 5 data pertama dari tipe nominal
exploratory[['genres','spoken_languages','crew']].head()

,genres,spoken_languages,crew
4222,"[{""id"": 28, ""name"": ""Action""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""credit_id"": ""52fe447a9251416c750361b5"", ""de..."
2160,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...","[{""credit_id"": ""52fe42ecc3a36847f802cfa3"", ""de..."
1881,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 36, ""name...","[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...","[{""credit_id"": ""52fe43c8c3a36847f806f27f"", ""de..."
66,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 35, ""...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""credit_id"": ""5683b5f8c3a3684be90168e1"", ""de..."
2172,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 18, ""na...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""credit_id"": ""52fe4255c3a36847f8015f8b"", ""de..."