In [1]:
my_list = [1,2,3]

In [2]:
my_list = ["STRING", 3, 2.36]

In [3]:
len(my_list)

3

In [4]:
mylist = ['a' , 'b', 'c']
mylist[0]

'a'

In [5]:
mylist[1:]

['b', 'c']

In [6]:
mylist

['a', 'b', 'c']

In [7]:
another_list = ['d', 'e']

In [9]:
my_list = mylist + another_list

In [10]:
my_list

['a', 'b', 'c', 'd', 'e']

In [11]:
my_list[0] = 'HAI'

In [12]:
my_list

['HAI', 'b', 'c', 'd', 'e']

In [13]:
# menambahkan list baru
my_list.append('f')

In [14]:
my_list

['HAI', 'b', 'c', 'd', 'e', 'f']

In [15]:
# mencetak list terakhir pada list dan menghapusnya

my_list.pop()

'f'

In [16]:
my_list

['HAI', 'b', 'c', 'd', 'e']

In [17]:
popped_item = my_list.pop()
popped_item

'e'

In [19]:
my_list

['HAI', 'b', 'c', 'd']

In [20]:
# menghapus sesuai urutan list dari list 
my_list.pop(0)

'HAI'

In [21]:
my_list

['b', 'c', 'd']

In [22]:
new_list = ['a', 'c', 'b', 'd']
num_list = [90, 30, 55, 75]

In [23]:
#melakukan pengurutan 

new_list.sort()
new_list

['a', 'b', 'c', 'd']

In [24]:
num_list.sort()
num_list

[30, 55, 75, 90]

In [27]:
new_list.sort()
my_sorted = new_list

In [28]:
my_sorted

['a', 'b', 'c', 'd']

In [29]:
# mencetak urutan secara terbalik

num_list.reverse()

In [30]:
num_list

[90, 75, 55, 30]

# Contoh Soal

Buat sebuah list nilai dan list grade yang memiliki ketentuan : 
grade A = 85-100
grade B = 75 - 84
grade C = 55 - 74
grade D = < 55

Buat juga fungsi terbalik dari angka 1-20 dan huruf abjad a - m

In [40]:
print ('Grade Kelas')
print ( "===========")
class_grade =['A','C','B','D']
num_class = [85, 50, 75,55 ]
class_grade.sort()
class_grade

Grade Kelas
===========

['A', 'B', 'C', 'D']

In [41]:
print ('Grade Nilai')
print ( "===========")
num_class.sort()
num_class

Grade Nilai
===========

[50, 55, 75, 85]

In [44]:
number =[2,1,3,5,4,7,6,9,8,10,11,13,12,14,15,17,16,19,18,20]
list_number= number.sort()
list_number = number
list_number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [45]:
list_number.reverse()
list_number

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [46]:
abjad = ['b','a','c','e','d','g','f','h','i','j','k','l','m']
list_abjad = abjad.sort()
list_abjad = abjad
list_abjad.reverse()
list_abjad

['m', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']