In [1]:
#membuat sets dan mengisi data ke dlm sets

myset = set()
myset

set()

In [3]:
myset.add(1)
myset

{1}

In [4]:
myset.add(2)
myset

{1, 2}

In [7]:
#myset hanya dapat menyimpan no unik, gak bisa menyimpan angka yg sama/double
my_list = [1,1,1,1,2,2,2,2,3,3,3,3]
set(my_list)

{1, 2, 3}